# Feel free to add your Python dependencies below. For formatting guidelines, see:
# https://pip.pypa.io/en/latest/reference/requirements-file-format/

apify < 3.0
pydantic~=2.10.6
playwright~=1.49.1
requests~=2.32.3
pytz~=2024.2
